<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!--<context:component-scan base-package=""-->
	<!-- 启动@aspectj的自动代理支持-->
	<aop:aspectj-autoproxy />

	<!-- 定义目标对象 -->
	<bean id="userDaos" class="com.zejian.spring.springAop.dao.daoimp.UserDaoImp" />
	<!-- 定义aspect类 -->
	<bean name="myAspectJ" class="com.zejian.spring.springAop.AspectJ.MyAspect"/>

	<bean name="aspectOne" class="com.zejian.spring.springAop.AspectJ.AspectOne"  />

	<bean name="aspectTwo" class="com.zejian.spring.springAop.AspectJ.AspectTwo" />
</beans>